{% extends "PhoneBundle::layout.html.twig" %}

{% block title %}iPhone Home{% endblock %}

{% block body %}
 <div class="row">
        <div class="col-md-12">
<h1>Welcome </h1>
        </div></div>
<p><a href="{{ path('new') }}">+ New Contact</a></p>
{% if error is defined %}
    {{error}}
{% endif %}
{% if contacts is defined %}
    <table border="1">
        <tr><td>Full name</td><td>Mobile Number</td><td>Action</td></tr>
    {% for contact in contacts %}
        <tr><td>{{contact.firstname}} {{contact.othernames}} {{contact.lastname}}</td><td>{{contact.mobile}}</td><td> <a href="{{ path('edit',{ 'id': contact.id })}}">Edit</a> | <a href="{{path('delete',{id:contact.id},{delete:'delete'})}}">Delete</a></td></tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
