{% extends "PhoneBundle::layout.html.twig" %}
{% form_theme form "PhoneBundle:Form:fields.html.twig" %}
{% block title %} New Contact {% endblock %}

{% block body %}
     <div class="row">
        <div class="col-md-12">
<h1>Create New Contact</h1>
        </div></div>

{% if done is defined %}
    <strong>{{ done }}</strong><br/><br/>
{% endif %}
{{ form_widget(form) }}
{{ form_errors(form) }}
{{ form_rest(form) }}
{{ form(form) }}
{% endblock %}
